<% if @event.user %>
  <div id="event-<%= @event.id %>" class="event">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 well">
        <%= render @event, remote: false %>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 well">
        <h4>Kommentarer</h4>
        <hr>
        <%= render 'comments/form', commentable: @event %>
        <br>
        <div class="comments">
          <%= render(@comments) || render('shared/no_resource', resources: 'Comments') %>
        </div>
      </div>
    </div>
  </div>
<% end %>
